.input {
  text-align: left;
  color: #24254A;
  font-size: 13px;

  &__input {
    width: 100%;
    padding: 0 15px 3px;
    display: block;
    margin: 5px 0 5px;
    color: #2D2E46;
    transition: all .6s;
    border: none;
    border-bottom: 2px solid rgba(36, 37, 34, .2);
    outline: none;
    background-color: transparent;
    font-size: 16px;
    line-height: 24px;
  }

  &__error {
    height: 20px;
    color: red;
    font-size: 16px;
    line-height: 19px;
  }
}


.inner {
  width: 100%;
}
